
@font-face {font-family: "iconfont";
  src: url('../iconfont/iconfont.eot?t=1495102046241'); /* IE9*/
  src: url('../iconfont/iconfont.eot?t=1495102046241#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../iconfont/iconfont.woff?t=1495102046241') format('woff'), /* chrome, firefox */
  url('../iconfont/iconfont.ttf?t=1495102046241') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../iconfont/iconfont.svg?t=1495102046241#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:24px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color:white;
}
.icon-iocnchexiao,.icon-iconfontxinjian,.icon-14,.icon-baocun{
  color:black;
  font-size: 28px;
}
.icon-qianbi:before { content: "\e658"; }

.icon-iconfontxinjian:before { content: "\e661"; }

.icon-14:before { content: "\e600"; }

.icon-baocun:before { content: "\e684"; }

.icon-msnui-tailor:before { content: "\e74b"; }

.icon-wenzi:before { content: "\e63f"; }

.icon-iocnchexiao:before { content: "\e60a"; }

.icon-duobianxing:before { content: "\e67c"; }

.icon-yuan:before { content: "\e617"; }

.icon-duojiaoxing:before { content: "\e60c"; }

.icon-youqi:before { content: "\e7ed"; }

.icon-yuanjiaojuxing:before { content: "\e651"; }

.icon-juxing:before { content: "\e663"; }

.icon-xiangpi:before { content: "\e67f"; }

.icon-miaobian:before { content: "\e795"; }

.icon-xiaobiao-:before { content: "\e605"; }

.icon-xuxian:before { content: "\e655"; }

